<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- for Facebook -->
  <meta property="og:title" content="<%= @question.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://upload.wikimedia.org/wikipedia/commons/0/04/Pan-Slavism.jpg" />
  <meta property="og:url" content=" <%='http://'+@current_domain+'/#/q/'+@question.id.to_s %>" />
  <meta property="og:description" content="Question posted to OMEGA Q/A" />
</head>
<body>
   <div>
     <%= @question.title %>
   </div>
    <div>
      <%= @question.content %>
    </div>

</body>
</html>