<div ng-controller="QuestionPageCtrl">
<!-- area to display question WITH OPTIONS FOR:
    - admin to delete question or edit it
    - OP to edit it
    - registered users to up/down vote it or eliminate their vote, also report it to admins
    -->
<div ng-show="question_set">
<!-- left side with main question, answers etc. at 80% width-->
<div class="pull-left" style="width: 85%;">

<div ng-controller="QuestionViewCtrl">
    <fieldset>
        <!-- question title -->
        <legend>
            <b>{{question.title}}</b>
        </legend>
        <div ng-show="!question.open">
            <b>Question closed</b><br>
            <i>Reason: {{question.status_description}}</i>
            <hr>
        </div>
        <!-- question social -->
        <div style="padding: 5px;">
            <button class="btn btn-info btn-sm" ng-click="do_share()">Share on facebook</button>
        </div>

        <!-- question main-->
        <div class="qa-display-item">
            <!-- left sidebar with votecounts, options -->
            <div class="qa-item-left-small" style="padding: 10px;">
                <b>{{question.upvotes-question.downvotes}}</b>
                <span>(+{{question.upvotes}}, -{{question.downvotes}})</span>

                <div class="btn-group-vertical">

                    <div class="btn-group-horizontal">
                        <button type="button" class="btn btn-success btn-xs" ng-click="up_vote()" ng-show="can_vote()">+
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="down_vote()" ng-show="can_vote()">-
                        </button>
                    </div>

                    <button type="button" class="btn btn-info btn-xs" ng-show="can_attempt_edit()"
                            ng-click="do_edit()">Edit
                    </button>

                    <button type="button" class="btn btn-info btn-xs" ng-show="can_vote()"
                            ng-click="report(question.id)">Report
                    </button>

                    <button type="button" class="btn btn-info btn-xs" ng-show="can_attempt_delete()"
                            ng-click="do_delete()">Delete
                    </button>

                </div>
            </div>

            <!-- right part is the question content -->
            <div class="qa-item-right-big">
                <!-- display question content if not in edit mode -->
                <div class="post" mathjax-bind="question.content" ng-hide="question.edit_mode"></div>

                <!-- display question editing form if in edit mode -->
                <div class="clearfix" ng-show="question.edit_mode">
                    <form name="question_edit_form" class="form-horizontal" role="form">
                        <!-- question title -->
                        <div class="col-sm-12 form-group"
                             ng-class="{ 'has-error' : question_edit_form.title.$invalid }">
                            <div>
                                <input ng-model="question.edited_title" type="text" class="form-control"
                                       id="question-title" name="title" placeholder="Enter the title of your question"
                                       required autofocus ng-minlength="6" ng-maxlength="255">
                            </div>
                                <span class="help-block" ng-show="question_edit_form.title.$invalid">
                                    Question title must be at least 6 characters long (maximum of 255).
                                </span>
                        </div>
                        <!-- question content editor -->
                        <div class="col-sm-12 form-group">
                            <div text-angular="text-angular" name="question_edit"
                                 ng-model="question.edited_content"
                                 ta-toolbar="[['p','h1','h2'],['bold','italics','pre','quote'],['ul','ol'],['undo','redo'],['insertImage','insertLink']]"
                                 placeholder="Editing question"></div>
                        </div>

                        <!-- question edit submit  -->
                        <div class="col-sm-10 form-group">
                            <button type="submit" class="btn btn-default" ng-click="submit_edit()">
                                Submit edit
                            </button>
                            <button class="btn btn-default" ng-click="cancel_edit()">Cancel editing
                            </button>
                        </div>
                    </form>
                </div>

                <!-- below go them tags -->
                <div>
                    <b>Tags:</b> <span class="bg-primary"
                                       style="margin-left:5px; padding-left: 5px; padding-right: 5px;"
                                       ng-repeat="tag in question.tags_list">{{tag}}</span>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <b>By <a href="{{'#/profile/'+question.author.id}}">{{question.author.username}}</a><img
                    src="{{question.author.karma_image}}" alt="Karma points: {{question.author.karma}}"
                    title="Karma points: {{question.author.karma}}" ng-if="question.author.karma_image !== null"/> on
                {{question.created_at}}</b>
            <b ng-show="question.editor"> | Edited by <a href="{{'#/profile/'+question.editor.id}}">{{question.editor.username}}</a><img
                    src="{{question.editor.karma_image}}" alt="Karma points: {{question.editor.karma}}"
                    title="Karma points: {{question.editor.karma}}" ng-if="question.editor.karma_image !== null"/>
                on {{question.edited_at}}</b>
        </div>
        <div class="clearfix">
            <hr>
        </div>
    </fieldset>

</div>

<!-- area to display paginated answers WITH OPTIONS FOR:
       - admin to delete answer or edit it
       - ANSWER OP to edit it
       - registered users to up/down vote it or eliminate their vote, also report it to admins
       - QUESTION OP to un/check it as accepted -->
<div ng-controller="AnswersViewCtrl">
    <!-- area to display actual answers -->
    <div ng-switch="answers.length > 0">
        <!-- if there are answers to display -->
        <div ng-switch-when="true">
            <!-- area to display sorting options -->
            <div>
                <div class="pull-left">
                    <h4>{{total_answers}} answers</h4>
                </div>
                <div class="btn-group pull-right" dropdown is-open="dropdown.isopen">
                    <button type="button" class="btn btn-primary dropdown-toggle">
                        Ordering options <span class="caret"></span>
                    </button>
                    <!-- TODO -->
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="reorder('newest-first')">Newest answers first</a></li>
                        <li><a href="" ng-click="reorder('oldest-first')">Oldest answers first</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="reorder('best-first')">Best answers first</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>

            <!-- iterate through the array and display all answers -->
            <div ng-repeat="answer in answers">
                <div class="qa-display-item">
                    <!-- left sidebar with votecounts, options -->
                    <div class="qa-item-left-small" style="padding: 10px;">
                        <b>{{answer.upvotes-answer.downvotes}}</b>
                        <span>(+{{answer.upvotes}}, -{{answer.downvotes}})</span>

                        <div class="btn-group-vertical">
                            <div class="btn-group-horizontal">
                                <button type="button" class="btn btn-success btn-xs" ng-show="can_vote()"
                                        ng-click="up_vote(answer)">+
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-show="can_vote()"
                                        ng-click="down_vote(answer)">-
                                </button>
                            </div>

                            <button type="button" class="btn btn-info btn-xs" ng-show="can_attempt_edit(answer)"
                                    ng-click="do_edit(answer)">Edit
                            </button>

                            <button type="button" class="btn btn-info btn-xs" ng-show="can_vote()"
                                    ng-click="report(question.id, answer.id)">Report
                            </button>

                            <button type="button" class="btn btn-info btn-xs" ng-show="can_attempt_delete()"
                                    ng-click="do_delete(answer)">Delete
                            </button>

                            <button  type="button" class="btn btn-success btn-xs" ng-show="canPick(answer)" ng-click="pick(answer)">
                                Pick</button>


                            <button  type="button" class="btn btn-danger btn-xs" ng-show="canUnpick(answer)" ng-click="unpick(answer)">
                                Unpick</button>
                        </div>
                    </div>

                    <!-- right part is the answer content  OR editor if in edit mode-->
                    <div class="qa-item-right-big">
                        <div class="upper-line" ng-show="isAccepted(answer)"><span style="color:blue">Answer marked as correct</span></div>
                        <div ng-switch="answer.id==highlight_answer_id">
                            <div ng-switch-when="true">
                                <!-- a bit hackish but who cares :-) -->

                                <div my-position></div>

                            </div>
                        </div>
                        <div ng-class="{higlighted_answer: answer.id==highlight_answer_id}" class="post" mathjax-bind="answer.content" ng-hide="answer.edit_mode"></div>

                        <form name="answer_edit_form" class="form-horizontal" role="form"
                              ng-show="answer.edit_mode">
                            <!-- answer content editor -->
                            <div class="col-sm-12 form-group">
                                <div text-angular="text-angular" name="{{'content'+$index}}"
                                     ng-model="answer.edited_content"
                                     ta-toolbar="[['p','h1','h2'],['bold','italics','pre','quote'],['ul','ol'],['undo','redo'],['insertImage','insertLink']]"
                                     placeholder="Editing answer"></div>
                            </div>

                            <!-- answer edit submit  -->
                            <div class="col-sm-10 form-group">
                                <button type="submit" class="btn btn-default" ng-click="submit_edit(answer)">
                                    Submit edit
                                </button>
                                <button class="btn btn-default" ng-click="cancel_edit(answer)">Cancel editing
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="pull-right">
                    <b>By <a href="{{'#/profile/'+answer.author.id}}">{{answer.author.username}}</a><img
                            src="{{answer.author.karma_image}}" alt="Karma points: {{answer.author.karma}}"
                            title="Karma points: {{answer.author.karma}}" ng-if="answer.author.karma_image !== null"/>
                        on
                        {{answer.created_at}}</b>
                    <b ng-show="answer.editor"> | Edited by <a href="{{'#/profile/'+answer.editor.id}}">{{answer.editor.username}}</a><img
                            src="{{answer.editor.karma_image}}" alt="Karma points: {{answer.editor.karma}}"
                            title="Karma points: {{answer.editor.karma}}" ng-if="answer.editor.karma_image !== null"/>
                        on {{answer.edited_at}}</b>
                    <span>&nbsp;&nbsp;<a href="" ng-click="to_permalink(answer.id)">permalink</a></span>
                </div>
                <div class="clearfix">
                    <hr>
                </div>
            </div>
            <!-- area to display paginator -->
            <div class="text-center">
                <pagination total-items="total_answers" page="current_page" items-per-page="items_per_page"
                            class="pagination pagination-sm"
                            boundary-links="true" on-select-page="page_selected(page)"></pagination>
            </div>
        </div>
        <!-- if there are no answers to display -->
        <div ng-switch-default>
            <b>This question is currently unanswered.</b>
        </div>
    </div>
    <hr>
</div>

<!-- area to display answer-posting container for registered users only
     consists of content only (no title, no tags) -->
<div ng-controller="AnswerCtrl" ng-show="canAnswer()">
    <accordion>
        <accordion-group is-open="poster.open">
            <accordion-heading>
                You know the answer? Share it with us! :-) <i class="pull-right glyphicon"
                                                              ng-class="{'glyphicon-chevron-down': poster.open, 'glyphicon-chevron-right': !poster.open}"></i>
            </accordion-heading>
            <form name="answer_submit_form" class="form-horizontal" role="form" ng-submit="post_answer()">

                <div class="col-sm-12 form-group"
                     ng-class="{ 'has-error': content_invalid(answer_submit_form) }">
                    <div text-angular="text-angular" name="content" ng-model="answer.content"
                         ta-toolbar="[['p','h1','h2'],['bold','italics','pre','quote'],['ul','ol'],['undo','redo'],['insertImage','insertLink']]"
                         placeholder="Enter your answer"></div>
                    <span class="help-block" ng-show="content_invalid(answer_submit_form)">
                        Answer content must be at least 20 characters long (maximum of 10 000).
                    </span>
                </div>


                <div class="col-sm-10 form-group">
                    <button type="submit" class="btn btn-default" ng-click="submit(answer_submit_form)"
                            ng-disabled="answer_submit_form.$invalid">Submit answer
                    </button>
                    <button class="btn btn-default" ng-click="reset_form(answer_submit_form)">Clear answer
                    </button>
                </div>
            </form>
        </accordion-group>
    </accordion>
</div>
<div ng-show="isAdmin()" >
    <hr>
    <accordion>
        <accordion-group >
            <accordion-heading>
                Question administration <i class="pull-right glyphicon"
                                           ng-class="{'glyphicon-chevron-down': poster.open, 'glyphicon-chevron-right': !poster.open}"></i>
            </accordion-heading>
                <div class="col-sm-12 form-group" role="form" ng-show="canClose()">
                    <div>
                        <input ng-model="question.status_description" type="text" class="form-control"  name="close_reason"  placeholder="Reason for closing" type="text" required autofocus ng-minlength="4" ng-maxlength="255">
                    </div>
                <span class="help-block" ng-show="title_invalid(question_submit_form)">
                    Reason must be at least 6 characters long (maximum of 255).
                </span>
                </div>
                <div class="col-sm-10 form-group" style="float: right">
                    <button type="submit" class="btn btn-default pull-right" ng-show="canClose()" ng-click="close_question()">
                        Close question
                    </button>
                </div>
            <div ng-show="canOpen()">
                <h2>Closure reason: {{question.status_description}}</h2>

                <button type="submit" class="btn btn-default pull-right" ng-click="open_question()">
                    Open question
                </button>
            </div>
        </accordion-group>
    </accordion>
</div>
</div>

<div class="pull-right" style="width: 10%;">
    <h7>Similar questions: </h7>
    <ul ng-show="similar_questions.length > 0">
        <li ng-repeat="similar_question in similar_questions">
            <a href="#/q/{{similar_question.id}}">{{similar_question.title}}</a>
        </li>
    </ul>
    <b ng-show="!similar_questions || similar_questions.length == 0">There are no similar questions.</b>
</div>
</div>
</div>

