<div>
    <p>THIS IS PARTIAL FOR QUESTION-VIEW. RENDERS A QUESTION AND PAGINATES ANSWERS. ENABLES POSTING AN ANSWER AND ALL OTHER GOODIES.</p>

    <!-- area to display question WITH OPTIONS FOR:
           - admin to delete question or edit it
           - OP to edit it
           - registered users to up/down vote it or eliminate their vote, also report it to admins
           - -->
    <div ng-controller="QuestionViewCtrl">

    </div>

    <!-- area to display paginated answers WITH OPTIONS FOR:
           - admin to delete answer or edit it
           - ANSWER OP to edit it
           - registered users to up/down vote it or eliminate their vote, also report it to admins
           - QUESTION OP to un/check it as accepted -->
    <div ng-controller="AnswersViewCtrl">

    </div>

    <!-- area to display answer-posting container for registered users only
         consists of content only (no title, no tags) -->
    <div ng-controller="AnswerCtrl">

    </div>
</div>

