@import "variables";
// Then bootstrap itself
@import "bootstrap";
// And finally bootswatch style itself
@import "bootswatch";
// import style for ng-tags-input directive
@import "ng-tags-input";

.ta-editor {
  min-height: 300px;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin simpleBorderAll(){
  border-style: solid;
  border-color: #bfbfbf;
  border-width:1px;
}

@mixin simpleBorderTop(){
  border-top-style: solid;
  border-top-color: #bfbfbf;
  border-top-width:1px;
}

.qa-display-item {
  @include flexbox();
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.qa-display-item {
  .qa-item-left-small {
    @include flex(1 50px);
    @include order(1);
    @include simpleBorderTop();
  }

  .qa-item-left-big {
    @include flex(14 0px);
    @include order(1);

  }

  .qa-item-right-small {
    @include flex(1 200px);
    @include order(2);
  }

  .qa-item-right-big {
    @include flex(14 0px);
    @include order(2);
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

  background-color: #f5f5f5;
}

.post{
  background-color: #fbfffd;
  padding: 10px;
  @include simpleBorderAll();
}

.imageBox {
  background-color:#f1f1f1;
  padding:1px;
  border:1px solid #000000;
}

.higlighted_answer{
  background-color: #feffcb;
}

.feed-item{
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  padding: 11px 0;
  width: 85%;
  float: left;
}

.feed-inner{
  border-bottom: 1px solid #d2d2d2;
  padding: 7px 0;
  position: relative;
}

#feed-list {
  overflow: auto;
  margin-top: -10px;
  margin-bottom: 30px;
}

.feed-votes{
  background: transparent;
  float: left;
  margin: 0 3px 0 0;
  padding: 5px;
  width: 38px;
  height: 38px;
  text-align: center;
}
.feed-answers{
  background: transparent;
  float: left;
  margin: 0 3px 0 0;
  padding: 5px;
  width: 48px;
  height: 38px;
  text-align: center;
}

.feed-mini-count{
  height: 25px;
  font-size: 160%;
  font-weight: normal;
}

.feed-item-summary{
  float: left;
  padding-left: 25px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  width: auto;
  -moz-appearance: auto;
  appearance: auto;
  max-width:600px;
}

.feed-tag{
 border-color: #a51300;
  border: 1px;
}

.feed-author{
  width: auto;
  line-height: inherit;
  padding-top: 4px;
  white-space: nowrap;
  color: #999;
  float: right;
}