@import "variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch";

.ta-editor {
  min-height: 300px;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}