<div id="qa">
  <p class="lead">Hello</p>
  I can add: {{ 1+2 }}.
</div>

<script>
    angular.element(document.getElementById('qa')).ready(function() {
        angular.module('qa', []);
        angular.bootstrap(document, ['qa']);
    });
</script>