<p class="lead">Tonem kao titanik, nad glavom mi upitnik...</p>

<p>TEST LOKALIZACIJE: <%= t(:hello) %> </p>

<% unless @users.size == 0 %>
    <p class="lead">Registered users</p>
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>